@font-face {
  font-family: 'EwhaFont';
  src: url('../fonts/ewha.ttf') format('truetype');
}

.header {
  background-color: #2A4232;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #E5E5E5;
  font-family: 'EwhaFont', sans-serif;
}

.header-title {
  font-size: 18px;
  color: #E5E5E5;
  font-family: 'EwhaFont', sans-serif;
}
